<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1 class="text-3xl flex justify-center align-center mx-auto"><%= title %></h1>
    <ul>
        <% chapters.forEach(chapter => { %>
 <a href="/student/<%= userid %>/enroll/<%= chapter.id %>">
            <div class="border-2 border-gray-900 flex flex-col mx-auto justify-center align-center">
            <li><%= chapter.chname %></li>
            <li><%= chapter.chcontent %></li>
            <li><%= chapter.id %></li>
            </div> 
    </a>
        <% }); %>
    </ul>
<script>var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");</script>
</body>
</html>