<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<% for (let course of courses) { %>
                    <li class="course-item">
                        <h2 class="course-title"><%= course.courseName %></h2>
                        <% for(let user of users) { %>
                            <% if(user.id === course.userId) { %>
                                <p class="course-author">by <%= user.firstName %> <%= user.lastName %></p>
                            <% } %>
                        <% } %>
                        <% const isEnrolled = enrols.some(enrollment => enrollment.userId === currentUser.id && enrollment.courseId === course.id); %>
                        <% if (isEnrolled) { %>
                            <button class="enroll-button" disabled>Enrolled</button>
                        <% } else { %>
                            <a href="/view-course/<%= course.id %>?currentUserId=<%= encodeURIComponent(currentUser.id) %>" class="view-button">View Course</a>
                            <form method="POST" action="/enrol-course/<%= course.id %>?currentUserId=<%= encodeURIComponent(currentUser.id) %>" style="display: inline;">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <% if (currentUser.role === "student") { %>
                                    <button type="submit" class="enroll-button">Enroll</button>
                                <% } %>
                            </form>
                        <% } %>
                    </li>
                <% } %>
</body>
</html>