<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="./css/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <header class="text-3xl text-center font-bold py-8 bg-gray-800 text-white">
    <%= title %>
  </header>

  <main class="container mx-auto p-4">
    <ul class="list-disc space-y-4">
      <% courses.forEach(course => { %>
        <li class="px-4 py-2 border border-gray-300 rounded-md hover:bg-gray-100 transition duration-200 ease-in-out">
          <a href="/courses/<%= course.id %>" class="font-medium">
            <%= course.courseName %>
          </a>
        </li>
      <% }); %>
    </ul>

    <form action="/logout" method="post" class="text-center mt-4">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit" class="px-4 py-2 bg-red-500 hover:bg-red-700 text-white font-bold rounded-md shadow-sm">
        Logout
      </button>
    </form>
  </main>
</body>
</html>
